### bin/Debug/net8.0/ template

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/.vs/EshopMicroservices/CopilotIndices/17.13.441.19478/CodeChunks.db
/.vs/EshopMicroservices/CopilotIndices/17.13.441.19478/SemanticSymbols.db
/.vs/EshopMicroservices/FileContentIndex/380e497d-3273-476d-b964-3a0ec5a0c031.vsidx
/.vs/EshopMicroservices/v17/.wsuo
/.vs/EshopMicroservices/v17/DocumentLayout.json
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
